.announcements {
    width: 100%;
    height: 300px;
    background-color: chocolate;
    display: flex;
    flex-wrap: wrap;
}

.announcementsContent {
    flex-basis: 50%;
    border: solid;
    box-sizing: border-box;
    color: black;
}

.announcementsHeader {
    flex-basis: 100%;
    border: solid;
    box-sizing: border-box;
    
}
