.degrees {
    width: 100%;
    min-height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.degreesHeader {
    flex-basis: 100%;
    box-sizing: border-box;
    text-align: center;
}

.degreesContent {
    flex-basis: 33.33%;
    box-sizing: border-box;
}

.degreesContent h3 {
    text-align: inherit;
    padding: 0 20px 0 102px;
    box-sizing: border-box;
}

.degreesContent ul {
    padding: 0 20px 0 120px;
    box-sizing: border-box;
}

.degreesContent ul li::marker {
    content:"•";
    color: rgb(186, 28, 28);
}

.degreesContent img {
    width: 85px;
    height: 85px;
    box-sizing: border-box;
    float: left;
    padding: 10px 0 0 30px;
}