footer {
    display: flex;
    margin: auto;
    justify-content: center;
    height: 250px;
    background-color: rgb(67, 65, 65)
}

.links {
    flex-basis: 33.3%;
    box-sizing: border-box;
}

.contact {
    flex-basis: 33.3%;
    box-sizing: border-box;
}

.social {
    flex-basis: 33.3%;
    box-sizing: border-box;
}

footer h4 {
    text-align: center;
}

footer p {
    text-align: center;
}

footer li {
    list-style:none;
}